@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
.logo{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    text-transform: uppercase;

}
.navigation a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;

}
.navigation a:hover{
    color:  blue;
}

.image_con{
    width: 50%;
    margin: 20px;
}
@media (max-width : 400px){
    .navigation a{
        padding-left: 5px;
        font-size: .7em;   
    }

    .logo{
        font-size: 0.1em;
    }
    header {
        padding: 5px 10px;
    }
}
.button{
    background-color: black;
    color: white;
    font-size: 1.3em;
    margin: 10px;
    margin-top: 20px;
}
.inputs{
    margin: 10px;
}
.label_massage{
    float:l;
    position: relative;
    bottom: 7pc;
}
.copyright{
    font-weight: bold;
}